<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="ThemeBucket">
  <link rel="shortcut icon" href="#" type="image/png">

  <title>家庭照片</title>
    <!--data table-->
    {css href="/static/admin/css/style.css"}
    {css href="/static/admin/css/style-responsive.css"}
    {css href="/static/admin/css/bootstrap-fileupload.min.css"}

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    {js href="/static/admin/js/html5shiv.js"}
    {js href="/static/admin/js/respond.min.js"}
    <![endif]-->
</head>

<body class="sticky-header">

<section>
    <!-- left side start-->
    <div class="left-side sticky-left-side">

        <!--logo and iconic logo start-->
        <div class="logo">
            <a href="index.html"><img src="/static/admin/images/logo.png" alt=""></a>
        </div>

        <div class="logo-icon text-center">
            <a href="index.html"><img src="/static/admin/images/logo_icon.png" alt=""></a>
        </div>
        <!--logo and iconic logo end-->

        <div class="left-side-inner">

            <!-- visible to small devices only -->
            <div class="visible-xs hidden-sm hidden-md hidden-lg">
                <div class="media logged-user">
                    <img alt="" src="/static/admin/images/photos/user-avatar.png" class="media-object">
                    <div class="media-body">
                        <h4><a href="#">John Doe</a></h4>
                        <span>"Hello There..."</span>
                    </div>
                </div>

                <h5 class="left-nav-title">Account Information</h5>
                <ul class="nav nav-pills nav-stacked custom-nav">
                    <li><a href="#"><i class="fa fa-user"></i> <span>Profile</span></a></li>
                    <li><a href="#"><i class="fa fa-cog"></i> <span>Settings</span></a></li>
                    <li><a href="#"><i class="fa fa-sign-out"></i> <span>Sign Out</span></a></li>
                </ul>
            </div>

            <!--sidebar nav start-->
            <ul class="nav nav-pills nav-stacked custom-nav">
                <li><a href="{:url('admin/index/index')}"><i class="fa fa-home"></i> <span>主页</span></a></li>
                <li class="menu-list nav-active"><a href=""><i class="fa fa-laptop"></i> <span>家庭</span></a>
                    <ul class="sub-menu-list">
                        <li><a href="{:url('admin/family/index')}"> 家庭成员</a></li>
                        <li class="active"><a href="{:url('admin/family/photos')}">家庭照片</a></li>
                    </ul>
                </li>
                <li class="menu-list"><a href=""><i class="fa fa-book"></i> <span>生活</span></a>
                    <ul class="sub-menu-list">
                        <li><a href="{:url('admin/daily/index')}"> 生活记录</a></li>
                        <li><a href="{:url('admin/daily/userRecord')}"> 我的记录</a></li>
                    </ul>
                </li>
                <li>
                    <a href="{:url('admin/chat/index')}">
                        <i class="fa fa-comments"></i>
                        <span>在线聊天室</span>
                    </a>
                </li>
            </ul>
            <!--sidebar nav end-->

        </div>
    </div>

    <!-- left side end-->
    
    <!-- main content start-->
    <div class="main-content" >

        <!-- header section start-->
        <div class="header-section">

        <!--toggle button start-->
        <a class="toggle-btn"><i class="fa fa-bars"></i></a>
        <!--toggle button end-->

        <!--search start-->
        <form class="searchform" action="index.html" method="post">
            <input type="text" class="form-control" name="keyword" placeholder="Search here..." />
        </form>
        <!--search end-->

        <!--notification menu start -->
        <div class="menu-right">
            <ul class="notification-menu">
                <li>
                    <a href="#" class="btn btn-default dropdown-toggle info-number" data-toggle="dropdown">
                        <i class="fa fa-tasks"></i>
                        <span class="badge">8</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-head pull-right">
                        <h5 class="title">You have 8 pending task</h5>
                        <ul class="dropdown-list user-list">
                            <li class="new">
                                <a href="#">
                                    <div class="task-info">
                                        <div>Database update</div>
                                    </div>
                                    <div class="progress progress-striped">
                                        <div style="width: 40%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="40" role="progressbar" class="progress-bar progress-bar-warning">
                                            <span class="">40%</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="new">
                                <a href="#">
                                    <div class="task-info">
                                        <div>Dashboard done</div>
                                    </div>
                                    <div class="progress progress-striped">
                                        <div style="width: 90%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="90" role="progressbar" class="progress-bar progress-bar-success">
                                            <span class="">90%</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="task-info">
                                        <div>Web Development</div>
                                    </div>
                                    <div class="progress progress-striped">
                                        <div style="width: 66%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="66" role="progressbar" class="progress-bar progress-bar-info">
                                            <span class="">66% </span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="task-info">
                                        <div>Mobile App</div>
                                    </div>
                                    <div class="progress progress-striped">
                                        <div style="width: 33%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="33" role="progressbar" class="progress-bar progress-bar-danger">
                                            <span class="">33% </span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="task-info">
                                        <div>Issues fixed</div>
                                    </div>
                                    <div class="progress progress-striped">
                                        <div style="width: 80%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="80" role="progressbar" class="progress-bar">
                                            <span class="">80% </span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="new"><a href="">See All Pending Task</a></li>
                        </ul>
                    </div>
                </li>
                <li>
                    <a href="#" class="btn btn-default dropdown-toggle info-number" data-toggle="dropdown">
                        <i class="fa fa-envelope-o"></i>
                        <span class="badge">5</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-head pull-right">
                        <h5 class="title">You have 5 Mails </h5>
                        <ul class="dropdown-list normal-list">
                            <li class="new">
                                <a href="">
                                    <span class="thumb"><img src="/static/admin/images/photos/user1.png" alt="" /></span>
                                        <span class="desc">
                                          <span class="name">John Doe <span class="badge badge-success">new</span></span>
                                          <span class="msg">Lorem ipsum dolor sit amet...</span>
                                        </span>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <span class="thumb"><img src="/static/admin/images/photos/user2.png" alt="" /></span>
                                        <span class="desc">
                                          <span class="name">Jonathan Smith</span>
                                          <span class="msg">Lorem ipsum dolor sit amet...</span>
                                        </span>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <span class="thumb"><img src="/static/admin/images/photos/user3.png" alt="" /></span>
                                        <span class="desc">
                                          <span class="name">Jane Doe</span>
                                          <span class="msg">Lorem ipsum dolor sit amet...</span>
                                        </span>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <span class="thumb"><img src="/static/admin/images/photos/user4.png" alt="" /></span>
                                        <span class="desc">
                                          <span class="name">Mark Henry</span>
                                          <span class="msg">Lorem ipsum dolor sit amet...</span>
                                        </span>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <span class="thumb"><img src="/static/admin/images/photos/user5.png" alt="" /></span>
                                        <span class="desc">
                                          <span class="name">Jim Doe</span>
                                          <span class="msg">Lorem ipsum dolor sit amet...</span>
                                        </span>
                                </a>
                            </li>
                            <li class="new"><a href="">Read All Mails</a></li>
                        </ul>
                    </div>
                </li>
                <li>
                    <a href="#" class="btn btn-default dropdown-toggle info-number" data-toggle="dropdown">
                        <i class="fa fa-bell-o"></i>
                        <span class="badge">4</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-head pull-right">
                        <h5 class="title">Notifications</h5>
                        <ul class="dropdown-list normal-list">
                            <li class="new">
                                <a href="">
                                    <span class="label label-danger"><i class="fa fa-bolt"></i></span>
                                    <span class="name">Server #1 overloaded.  </span>
                                    <em class="small">34 mins</em>
                                </a>
                            </li>
                            <li class="new">
                                <a href="">
                                    <span class="label label-danger"><i class="fa fa-bolt"></i></span>
                                    <span class="name">Server #3 overloaded.  </span>
                                    <em class="small">1 hrs</em>
                                </a>
                            </li>
                            <li class="new">
                                <a href="">
                                    <span class="label label-danger"><i class="fa fa-bolt"></i></span>
                                    <span class="name">Server #5 overloaded.  </span>
                                    <em class="small">4 hrs</em>
                                </a>
                            </li>
                            <li class="new">
                                <a href="">
                                    <span class="label label-danger"><i class="fa fa-bolt"></i></span>
                                    <span class="name">Server #31 overloaded.  </span>
                                    <em class="small">4 hrs</em>
                                </a>
                            </li>
                            <li class="new"><a href="">See All Notifications</a></li>
                        </ul>
                    </div>
                </li>
                <li>
                    <a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        <img src="{$userInfo['image']}" alt="" width="28" height="28"/>
                        {$userName}
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-usermenu pull-right">
                        <li><a href="#"><i class="fa fa-user"></i>  个人信息</a></li>
                        <li><a href="#"><i class="fa fa-cog"></i>  设置</a></li>
                        <li><a href="{:url('admin/login/lock')}"><i class="fa fa-unlock-alt"></i> &nbsp;锁屏</a></li>
                        <li><a href="{:url('admin/login/index')}"><i class="fa fa-sign-out"></i> 退出登陆</a></li>
                    </ul>
                </li>

            </ul>
        </div>
        <!--notification menu end -->

        </div>
        <!-- header section end-->

        <!-- page heading start-->
        <div class="page-heading">
            <h3>
                家庭照片
            </h3>
            <ul class="breadcrumb">
                <li>
                    <a href="#">家庭</a>
                </li>
                <li class="active"> 家庭照片 </li>
            </ul>
        </div>
        <!-- page heading end-->

        <!--body wrapper start-->
        <div class="wrapper">
            <div class="row">
                <div class="col-sm-12">
                    <section class="panel">
                        <header class="panel-heading">
                            家庭照片
                            <span class="tools pull-right">
                                <a href="javascript:;" class="fa fa-chevron-down"></a>
                                <a href="javascript:;" class="fa fa-times"></a>
                             </span>
                        </header>
                        <div class="panel-body">

                            <ul class="media-filter">
                                <li><a href="{:url('admin/family/photos')}"> 所有</a></li>
                                {volist name="groups" id="v"}
                                <li><a href="{:url('admin/family/photos',['id'=>$v['id']])}">{$v['name']}</a></li>
                                {/volist}
                            </ul>

                            <div class="btn-group pull-right">
                                <div style="float: left;margin-right: 20px">
                                <a href="#myModal2" data-toggle="modal" class="btn btn-warning">
                                    添加分组
                                </a>
                                </div>
                                <form id="default" class="form-horizontal" method="post" enctype="multipart/form-data" action="{:url('admin/family/uploadPhotos')}">
                                    <button class="btn btn-info pull-right"> 确定</button>
                                <div class="fileupload fileupload-new" data-provides="fileupload" style="margin-right: -150px"><input type="hidden">
                                    <span class="btn btn-default btn-file">
                                                <span class="fileupload-new"><i class="fa fa-paper-clip"></i> 上传照片</span>
                                                <span class="fileupload-exists"><i class="fa fa-undo"></i> 更换</span>
                                                <input type="file" class="default" name="image">
                                                </span>
                                    <span class="fileupload-preview" style="margin-left:5px;"></span>
                                    <a href="#" class="close fileupload-exists" data-dismiss="fileupload" style="float: none; margin-left:5px;"></a>
                                </div>
                                </form>
                            </div>



                            <div id="gallery" class="media-gal">
                                {volist name="data" id="v"}
                                <div class="images item " style="overflow: hidden;text-align: center" >
                                    <a href="#myModal" data-toggle="modal">
                                        <img src="{$v['image']}" alt="" id="imgPhoto" photoInfo="{$v['image']}" photoAuthor="{$v['author']}" photoGid="{$v['gid']}" photoText="{$v['remark']}" photoSize="{$v['size']}" photoType="{$v['type']}" photoId="{$v['id']}" photoTime="{$v['addTime']}"/>
                                    </a>
                                    <p>{$v['remark']}</p>
                                </div>
                                {/volist}
                            </div>
                            <div class="col-md-12 text-center clearfix">
                                {$data->render()}
                            </div>

                            <!-- Modal -->
                            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                            <h4 class="modal-title">编辑照片</h4>
                                        </div>

                                        <div class="modal-body row">

                                            <div class="col-md-5 img-modal" style="overflow: hidden;">
                                                <div style="text-align: center;height: 162px;overflow: hidden">
                                                    <img class="showPhoto" src="" alt="" height="162">
                                                </div>
                                                <p class="mtop10"><strong>分组:</strong> <span class="photoGid" style="color: #ea755c;"> </span></p>
                                                <p><strong>图片类型:</strong> <span class="photoType"> </span></p>
                                                <p><strong>尺寸:</strong> <span class="photoSize"> </span> B</p>
                                                <p><strong>上传时间:</strong> <span class="photoDate"> </span></p>
                                                <p><strong>作者:</strong> <a href="#" class="photoAuthor"> </a></p>
                                            </div>
                                            <div class="col-md-7">
                                                <!--<div class="form-group">-->
                                                    <!--<label> 名 字</label>-->
                                                    <!--<input id="name" value="img01.jpg" class="form-control photoImage">-->
                                                <!--</div>-->
                                                <form class="form-horizontal" method="post" action="{:url('admin/family/editPhotos')}">
                                                    <input type="hidden" value=" " class="photoId" name="id">
                                                    <div class="form-group">
                                                    <label>修改分组</label>
                                                        <select class="form-control m-bot15" name="groupName">
                                                            {volist name="groups" id="v"}
                                                            <option  value="{$v['id']}">{$v['name']}</option>
                                                            {/volist}
                                                        </select>
                                                    <label> 添加备注</label>
                                                    <textarea rows="10" class="form-control photoText" name="remark"></textarea>
                                                </div>
                                                <div class="pull-right">
                                                    <button class="btn btn-success btn-sm">保存修改</button>
                                                </div>
                                                </form>
                                                <div class="pull-right" style="margin-right: 10px">
                                                <form class="form-horizontal" method="post" action="{:url('admin/family/delPhoto')}">
                                                    <input type="hidden" value=" " class="photoId" name="id">
                                                    <button class="btn btn-danger btn-sm">删除照片</button>
                                                </form>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <!-- modal -->

                            <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal2" class="modal fade" style="display: none;">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                                            <h4 class="modal-title">添加分组</h4>
                                        </div>
                                        <form method="post" action="{:url('admin/family/addGroup')}">
                                        <div class="modal-body">
                                            <input type="text" placeholder="分组名称" class="form-control" value="" name="groupsName">
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                                            <button class="btn btn-success">保存</button>
                                        </div>
                                        </form>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </section>
                </div>
            </div>
        </div>
        <!--body wrapper end-->

        <!--footer section start-->
        <footer>
            徐敏的生活站
        </footer>
        <!--footer section end-->


    </div>
    <!-- main content end-->
</section>

<!-- Placed js at the end of the document so the pages load faster -->
{js href="/static/admin/js/jquery-1.10.2.min.js"}
{js href="/static/admin/js/jquery-ui-1.9.2.custom.min.js"}
{js href="/static/admin/js/jquery-migrate-1.2.1.min.js"}
{js href="/static/admin/js/bootstrap.min.js"}
{js href="/static/admin/js/modernizr.min.js"}
{js href="/static/admin/js/jquery.nicescroll.js"}

{js href="/static/admin/js/bootstrap-fileupload.min.js"}
{js href="/static/admin/js/jquery.isotope.js"}

<!--common scripts for all pages-->
{js href="/static/admin/js/scripts.js"}

<script type="text/javascript">
    $(function() {
        var $container = $('#gallery');
        $container.isotope({
            itemSelector: '.item',
            animationOptions: {
                duration: 750,
                easing: 'linear',
                queue: false
            }
        });

        // filter items when filter link is clicked
        $('#filters a').click(function() {
            var selector = $(this).attr('data-filter');
            $container.isotope({filter: selector});
            return false;
        });

        $(document).on('click','#imgPhoto',function(){
            var photoInfo = $(this).attr('photoInfo');
            var photoAuthor = $(this).attr('photoAuthor');
            var photoGid = $(this).attr('photoGid');
            var photoSize = $(this).attr('photoSize');
            var photoType = $(this).attr('photoType');
            var photoId = $(this).attr('photoId');
            var photoText = $(this).attr('photoText');
            var photoTime = $(this).attr('photoTime');
            $('.showPhoto').attr('src',photoInfo);
            $('.photoSize').text(photoSize);
            $('.photoType').text(photoType);
            $('.photoGid').text(photoGid);
            $('.photoAuthor').text(photoAuthor);
            $('.photoId').val(photoId);
            $('.photoText').val(photoText);
            $('.photoDate').text(photoTime);
        });
    });
</script>

</body>
</html>
