<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="ThemeBucket">
  <link rel="shortcut icon" href="#" type="image/png">

  <title>成员编辑</title>


    {css href="/static/admin/js/bootstrap-datepicker/css/datepicker-custom.css"}
    {css href="/static/admin/js/bootstrap-timepicker/css/timepicker.css"}
    {css href="/static/admin/js/bootstrap-colorpicker/css/colorpicker.css"}
    {css href="/static/admin/js/bootstrap-daterangepicker/daterangepicker-bs3.css"}
    {css href="/static/admin/js/bootstrap-datetimepicker/css/datetimepicker-custom.css"}

    {css href="/static/admin/css/bootstrap-fileupload.min.css"}


    {css href="/static/admin/css/style.css"}
    {css href="/static/admin/css/style-responsive.css"}

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  {js href="/static/admin/js/html5shiv.js"}
  {js href="/static/admin/js/respond.min.js"}
  <![endif]-->
</head>

<body class="sticky-header">

<section>
    <!-- left side start-->
    <div class="left-side sticky-left-side">

        <!--logo and iconic logo start-->
        <div class="logo">
            <a href="index.html"><img src="/static/admin/images/logo.png" alt=""></a>
        </div>

        <div class="logo-icon text-center">
            <a href="index.html"><img src="/static/admin/images/logo_icon.png" alt=""></a>
        </div>
        <!--logo and iconic logo end-->


        <div class="left-side-inner">

            <!-- visible to small devices only -->
            <div class="visible-xs hidden-sm hidden-md hidden-lg">
                <div class="media logged-user">
                    <img alt="" src="/static/admin/images/photos/user-avatar.png" class="media-object">
                    <div class="media-body">
                        <h4><a href="#">John Doe</a></h4>
                        <span>"Hello There..."</span>
                    </div>
                </div>

                <h5 class="left-nav-title">Account Information</h5>
                <ul class="nav nav-pills nav-stacked custom-nav">
                    <li><a href="#"><i class="fa fa-user"></i> <span>Profile</span></a></li>
                    <li><a href="#"><i class="fa fa-cog"></i> <span>Settings</span></a></li>
                    <li><a href="#"><i class="fa fa-sign-out"></i> <span>Sign Out</span></a></li>
                </ul>
            </div>

            <!--sidebar nav start-->
            <ul class="nav nav-pills nav-stacked custom-nav">
                <li class="active"><a href="{:url('admin/index/index')}"><i class="fa fa-home"></i> <span>主页</span></a></li>
                <li class="menu-list nav-active"><a href=""><i class="fa fa-laptop"></i> <span>家庭</span></a>
                    <ul class="sub-menu-list">
                        <li class="active"><a href="{:url('admin/family/index')}"> 家庭成员</a></li>
                        <li><a href="{:url('admin/family/photos')}">家庭照片</a></li>
                    </ul>
                </li>
                <li class="menu-list"><a href=""><i class="fa fa-book"></i> <span>生活</span></a>
                    <ul class="sub-menu-list">
                        <li><a href="{:url('admin/daily/index')}"> 生活记录</a></li>
                        <li><a href="{:url('admin/daily/userRecord')}"> 我的记录</a></li>
                    </ul>
                </li>
                <li>
                    <a href="{:url('admin/chat/index')}">
                        <i class="fa fa-comments"></i>
                        <span>在线聊天室</span>
                    </a>
                </li>
            </ul>
            <!--sidebar nav end-->

        </div>
    </div>
    <!-- left side end-->
    
    <!-- main content start-->
    <div class="main-content" >

        <!-- header section start-->
        <div class="header-section">

        <!--toggle button start-->
        <a class="toggle-btn"><i class="fa fa-bars"></i></a>
        <!--toggle button end-->

        <!--search start-->
        <form class="searchform" action="index.html" method="post">
            <input type="text" class="form-control" name="keyword" placeholder="Search here..." />
        </form>
        <!--search end-->

        <!--notification menu start -->
        <div class="menu-right">
            <ul class="notification-menu">
                <li>
                    <a href="#" class="btn btn-default dropdown-toggle info-number" data-toggle="dropdown">
                        <i class="fa fa-tasks"></i>
                        <span class="badge">8</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-head pull-right">
                        <h5 class="title">You have 8 pending task</h5>
                        <ul class="dropdown-list user-list">
                            <li class="new">
                                <a href="#">
                                    <div class="task-info">
                                        <div>Database update</div>
                                    </div>
                                    <div class="progress progress-striped">
                                        <div style="width: 40%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="40" role="progressbar" class="progress-bar progress-bar-warning">
                                            <span class="">40%</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="new">
                                <a href="#">
                                    <div class="task-info">
                                        <div>Dashboard done</div>
                                    </div>
                                    <div class="progress progress-striped">
                                        <div style="width: 90%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="90" role="progressbar" class="progress-bar progress-bar-success">
                                            <span class="">90%</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="task-info">
                                        <div>Web Development</div>
                                    </div>
                                    <div class="progress progress-striped">
                                        <div style="width: 66%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="66" role="progressbar" class="progress-bar progress-bar-info">
                                            <span class="">66% </span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="task-info">
                                        <div>Mobile App</div>
                                    </div>
                                    <div class="progress progress-striped">
                                        <div style="width: 33%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="33" role="progressbar" class="progress-bar progress-bar-danger">
                                            <span class="">33% </span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="task-info">
                                        <div>Issues fixed</div>
                                    </div>
                                    <div class="progress progress-striped">
                                        <div style="width: 80%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="80" role="progressbar" class="progress-bar">
                                            <span class="">80% </span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="new"><a href="">See All Pending Task</a></li>
                        </ul>
                    </div>
                </li>
                <li>
                    <a href="#" class="btn btn-default dropdown-toggle info-number" data-toggle="dropdown">
                        <i class="fa fa-envelope-o"></i>
                        <span class="badge">5</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-head pull-right">
                        <h5 class="title">You have 5 Mails </h5>
                        <ul class="dropdown-list normal-list">
                            <li class="new">
                                <a href="">
                                    <span class="thumb"><img src="/static/admin/images/photos/user1.png" alt="" /></span>
                                        <span class="desc">
                                          <span class="name">John Doe <span class="badge badge-success">new</span></span>
                                          <span class="msg">Lorem ipsum dolor sit amet...</span>
                                        </span>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <span class="thumb"><img src="/static/admin/images/photos/user2.png" alt="" /></span>
                                        <span class="desc">
                                          <span class="name">Jonathan Smith</span>
                                          <span class="msg">Lorem ipsum dolor sit amet...</span>
                                        </span>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <span class="thumb"><img src="/static/admin/images/photos/user3.png" alt="" /></span>
                                        <span class="desc">
                                          <span class="name">Jane Doe</span>
                                          <span class="msg">Lorem ipsum dolor sit amet...</span>
                                        </span>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <span class="thumb"><img src="/static/admin/images/photos/user4.png" alt="" /></span>
                                        <span class="desc">
                                          <span class="name">Mark Henry</span>
                                          <span class="msg">Lorem ipsum dolor sit amet...</span>
                                        </span>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <span class="thumb"><img src="/static/admin/images/photos/user5.png" alt="" /></span>
                                        <span class="desc">
                                          <span class="name">Jim Doe</span>
                                          <span class="msg">Lorem ipsum dolor sit amet...</span>
                                        </span>
                                </a>
                            </li>
                            <li class="new"><a href="">Read All Mails</a></li>
                        </ul>
                    </div>
                </li>
                <li>
                    <a href="#" class="btn btn-default dropdown-toggle info-number" data-toggle="dropdown">
                        <i class="fa fa-bell-o"></i>
                        <span class="badge">4</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-head pull-right">
                        <h5 class="title">Notifications</h5>
                        <ul class="dropdown-list normal-list">
                            <li class="new">
                                <a href="">
                                    <span class="label label-danger"><i class="fa fa-bolt"></i></span>
                                    <span class="name">Server #1 overloaded.  </span>
                                    <em class="small">34 mins</em>
                                </a>
                            </li>
                            <li class="new">
                                <a href="">
                                    <span class="label label-danger"><i class="fa fa-bolt"></i></span>
                                    <span class="name">Server #3 overloaded.  </span>
                                    <em class="small">1 hrs</em>
                                </a>
                            </li>
                            <li class="new">
                                <a href="">
                                    <span class="label label-danger"><i class="fa fa-bolt"></i></span>
                                    <span class="name">Server #5 overloaded.  </span>
                                    <em class="small">4 hrs</em>
                                </a>
                            </li>
                            <li class="new">
                                <a href="">
                                    <span class="label label-danger"><i class="fa fa-bolt"></i></span>
                                    <span class="name">Server #31 overloaded.  </span>
                                    <em class="small">4 hrs</em>
                                </a>
                            </li>
                            <li class="new"><a href="">See All Notifications</a></li>
                        </ul>
                    </div>
                </li>
                <li>
                    <a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        <img src="{$userInfo['image']}" alt="" width="28" height="28"/>
                        {$userName}
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-usermenu pull-right">
                        <li><a href="#"><i class="fa fa-user"></i>  个人信息</a></li>
                        <li><a href="#"><i class="fa fa-cog"></i>  设置</a></li>
                        <li><a href="{:url('admin/login/lock')}"><i class="fa fa-unlock-alt"></i> &nbsp;锁屏</a></li>
                        <li><a href="{:url('admin/login/index')}"><i class="fa fa-sign-out"></i> 退出登陆</a></li>
                    </ul>
                </li>

            </ul>
        </div>
        <!--notification menu end -->

        </div>
        <!-- header section end-->

        <!-- page heading start-->
        <div class="page-heading">
            <h3>
                成员编辑
            </h3>
            <ul class="breadcrumb">
                <li>
                    <a href="#">家庭</a>
                </li>
                <li class="active">家庭成员</li>
            </ul>
        </div>
        <!-- page heading end-->
        <hr/>

        <!--body wrapper start-->
        <div class="wrapper">
            <form id="default" class="form-horizontal" method="post" enctype="multipart/form-data" action="{:url('admin/family/upda')}">
                <input type="hidden" name="userId" value="{$data['userId']}">
                <input type="hidden" name="_method" value="put">
                <div class="form-group last">
                    <label class="control-label col-md-2">头 像</label>
                    <div class="col-md-9">
                        <div class="fileupload fileupload-new" data-provides="fileupload">
                            <div class="fileupload-new thumbnail" style="width: 200px; height: 150px;">
                                <img src="{$data['image']}" alt="" />
                            </div>
                            <div class="fileupload-preview fileupload-exists thumbnail" style="max-width: 200px; max-height: 150px; line-height: 20px;"></div>
                            <div>
                               <span class="btn btn-default btn-file">
                               <span class="fileupload-new"><i class="fa fa-paper-clip"></i> 上传图片</span>
                               <span class="fileupload-exists"><i class="fa fa-undo"></i> 更换</span>
                               <input type="file" class="default" name="image"/>
                               </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 col-sm-2 control-label">姓 名</label>
                    <div class="col-md-6 col-sm-6">
                        <input type="text" placeholder="姓 名" class="form-control" value="{$data['userName']}" name="userName">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 col-sm-2 control-label">性 别</label>
                    <div class="col-md-6 col-sm-6">
                        <select class="form-control m-bot15" name="sex">
                            <option {$data['sex']==1 ? 'selected' : ''} value="1">男</option>
                            <option {$data['sex']==2 ? 'selected' : ''} value="2">女</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 col-sm-2 control-label">手机号码</label>
                    <div class="col-md-6 col-sm-6">
                        <input type="text" placeholder="手机号码" class="form-control" value="{$data['phone']}" name="phone">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 col-sm-2 control-label">年 龄</label>
                    <div class="col-md-6 col-sm-6">
                        <input type="text" placeholder="年 龄" class="form-control" value="{$data['age']}" name="age">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 col-sm-2 control-label">出生日期</label>
                    <div class="col-md-6 col-sm-6">
                        <input class="form_datetime form-control" size="16" type="text" name="birthday" value="{$data['birthday']}">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 col-sm-2 control-label">地 址</label>
                    <div class="col-md-6 col-sm-6">
                        <input type="text" placeholder="地 址" class="form-control" value="{$data['address']}" name="address">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 col-sm-2 control-label">新密码</label>
                    <div class="col-md-6 col-sm-6">
                        <input type="text" placeholder="新密码" class="form-control" name="password">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 col-sm-2 control-label">确认密码</label>
                    <div class="col-md-6 col-sm-6">
                        <input type="text" placeholder="确认密码" class="form-control" name="repas">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-6 col-sm-6 control-label"></label>
                    <div class="col-md-4 col-sm-4">
                        <a href="{:url('admin/family/index')}"><button class="btn btn-danger" type="button">取消</button></a>
                        <button class="btn btn-success">确认</button>
                    </div>
                </div>
            </form>
        </div>
        <!--body wrapper end-->

        <!--footer section start-->
        <footer class="sticky-footer">
            徐敏的生活站
        </footer>
        <!--footer section end-->


    </div>
    <!-- main content end-->
</section>
{js href="/static/admin/js/jquery-1.10.2.min.js"}
{js href="/static/admin/js/jquery-ui-1.9.2.custom.min.js"}
{js href="/static/admin/js/jquery-migrate-1.2.1.min.js"}
{js href="/static/admin/js/bootstrap.min.js"}
{js href="/static/admin/js/modernizr.min.js"}
{js href="/static/admin/js/jquery.nicescroll.js"}

{js href="/static/admin/js/bootstrap-datepicker/js/bootstrap-datepicker.js"}
{js href="/static/admin/js/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"}
{js href="/static/admin/js/bootstrap-daterangepicker/moment.min.js"}
{js href="/static/admin/js/bootstrap-daterangepicker/daterangepicker.js"}
{js href="/static/admin/js/bootstrap-timepicker/js/bootstrap-timepicker.js"}
{js href="/static/admin/js/bootstrap-colorpicker/js/bootstrap-colorpicker.js"}


{js href="/static/admin/js/bootstrap-fileupload.min.js"}


{js href="/static/admin/js/pickers-init.js"}

{js href="/static/admin/js/scripts.js"}


</body>
</html>
